.banner-heading {
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #FFF;
  padding: 60px 0;
  @extend %flex-area;
  align-items: center;

  .banner-content {
    position: relative;
    z-index: 2;
  }

  p {
    color: #fff;
  }

  h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 15px;
  }

  h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 15px;
  }

  &:after {
    @extend %heading-gradient;
    width: 100%;
    content: "";
    right: 0;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
  }

  .social{
    margin: 30px 0;
    a{
      font-size: 26px;
      min-width: 45px;
      text-align: center;
    }
  }

}

.over-bar {
  position: relative;
  z-index: 2;

  .bar {
      background: $primary;
      padding: 25px 0;
    min-height: 100px;
  }
  .over-bar-content {
    background: #FFF;
     padding: 10px;
    margin-top: -55px;
  }
}
