.charts {
  direction: ltr;
  font-size: 11px;
}
.related-indicator {
  .charts {
    height: 35vh;
  }
}


.legend-bar {
  height: 0.85vw;
  margin: 5px 0;
  @extend %vertical-gradient

}

.xy-chart {
  .charts {
    height: 20vw;
  }
}

.ksa-map {
   .charts {
    height: 50vh;
  }
}


#chartMap{

    height: 20vw;

}