.crumbs {
  display: flex;

  @include for-size("phone-only"){
    padding-top: 10px;
  }

  a{
    opacity: 0.6;
    &:after {
      content: "\e901";
      padding: 0 5px;
      font-family: 'abjad' !important;
      font-size: 10px;
      margin: 0 15px;
    }
    &:last-child {
      opacity: 1;
      &:after {
        display: none;
      }
    }
  }
}
