// Dropdown
.dropdown {
  position: relative;

  &.form-dropdown {
    display: flex;
    @extend %form-control;

    height: $normal-form-size;

    &.sm {
      height: $small-form-size;
    }

    &.lg {
      height: $large-form-size;
    }


    .dropdown-menu {
      width: 100%;
      max-width: 100%;
      left: 0;
      right: 0;
    }

    &:hover {
      border-color: $info;
    }

    &:focus {
      outline: none;
      border-color: $info;
      border-width: 2px;
    }


  }

  .dropdown-btn {
    text-transform: capitalize;
    flex: 1;
    white-space: nowrap;

    &:hover {
      .toggle-arrow {
      }
    }

    &.shown {
      svg {
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border-radius: 4px;
    z-index: 10;
    border: 1px solid $border-color;
    animation-name: fadeInTop;
    animation-fill-mode: both;
    animation-duration: 0.4s;
    left: 50%;
    min-width: 150px;
    max-width: 400px;
    top: 100%;
    padding: 2px;
    margin: 2px 0;

    &.reverse {
      bottom: 100%;
      top: auto;
    }

    &.fixed {
      overflow-y: scroll;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      -webkit-scrollbar-width: thin;

    }


    a.menu-item {
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid $border-color;
      transition: 0.4s all ease-in-out;
      font-size: 14px;
      font-weight: 400;

      &:hover {
        background: #FAFAFA;
      }

      &:last-child {
        border: none;
      }

    }

    //&:before {
    //  content: "";
    //  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 8l6 6H6z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
    //  width: 24px;
    //  height: 24px;
    //  display: block;
    //  position: absolute;
    //  left: 50%;
    //  top: -14px;
    //  margin-left: -12px;
    //}

  }

}

.toggle-arrow {
  transition: 0.4s all ease-out;
  width: 14px;
  height: 14px;

}

.shown {
  .toggle-arrow {
    transform: rotate(180deg);
  }


}
