.side-bar {
  width: 380px;
  flex-shrink: 0;
  position: relative;
  z-index: 5;
  @include for-size('small-devices') {
    width: 100%;
    margin-bottom: 20px;

  }

  .scroll-area {
    position: relative;

    direction: ltr;
    .scroll-content{
      scroll-behavior: smooth;
      transition: 0.4s all ease-in-out;

      @include rtl(direction, rtl, ltr);
      @include rtl(direction, ltr, rtl);

    }
  }



  .side-nav {
    word-break: break-word;
    padding: 0;

    li {
      a.side-nav-link {
        @extend %flex-area;
        font-size: 14px;
        color: $primary;
        padding: 15px 10px;
        border-bottom: 1px solid $border-color;

        &:hover {
          color: $secondary;
        }

      }

      svg {
        flex-shrink: 0;

        @include for-size('small-height') {
          transform: scale(0.7);
          margin: 0 -10px;
        }

      }

      &.active {

        --blue-color: rgba(255,255,255,0.6);
        --green-color: #FFF;

        a.side-nav-link {
          background: #73B160;
          color: #fff;
          font-weight: 700;
          border-radius: 8px;
        }

        svg {

          path {
            stroke: #fff;
          }
        }
      }

      ul {
        padding: 10px 15px;

        li {
          border-bottom: 1px solid $border-color;

          a {
            font-size: 14px;
            color: $primary;
            padding: 12px 10px 12px 30px;
            opacity: 0.5;
            @extend %flex-area;
            justify-content: space-between;
             position: relative;
            min-height: 30px;

            &:hover {
              opacity: 1;
            }


          }

          &.active {

            a {
              opacity: 1;
              font-weight: 700;

              &:after {
                font-family: 'remixicon';
                content: "\eb7b";
                color: $secondary;
                font-size: 20px;
                opacity: 1;
                margin-right: 5px;
                position: absolute;
                left: 0;
                top: 10px;
              }

            }

          }
        }
      }

    }


  }

}
