.side-bar {
  width: 25vw;
  flex-shrink: 0;
  position: relative;
  z-index: 5;

  .nav-search {
    padding: 1.5vw;
  }


  .scroll-content {
    padding-left: 1.5vw !important;
    padding-right: 1.5vw !important;
  }

  @include for-size('small-devices') {
    width: 100%;
    margin-bottom: 20px;

  }

  .scroll-area {
    position: relative;
    direction: ltr;


    .scroll-content{
      scroll-behavior: smooth;
      transition: 0.4s all ease-in-out;

      @include rtl(direction, rtl, ltr);
      @include rtl(direction, ltr, rtl);

    }
  }



  .side-nav {
    word-break: break-word;
    padding: 0;

    li {
      position: relative;

      a.side-nav-link {
        @extend %flex-area;
        font-size: 1.4vh;
        color: $primary;
        padding: 0 1vw;
        border-bottom: 1px solid $border-color;



        .text {
          flex: 1;
          padding: 1.4vw;

        }

        &:hover {
          color: $secondary;
        }

      }

      .ico {
        font-size: 3.2vmin;
        height: 3.2vmin;
        width: 3.2vmin;
        margin-top: 1vmin;
        margin-bottom: 0.6vmin;
        word-break: normal;
      }

      svg {

        flex-shrink: 0;
        transform: scale(0.85);
        margin: 0 -5px;


      }

      &.active {

        --blue-color: rgba(255,255,255,0.6);
        --green-color: #FFF;

        a.side-nav-link {
          background: #73B160;
          color: #fff;
          font-weight: 700;
          border-radius: 8px;

        }

        svg {

          path {
            stroke: #fff;
          }
        }

        ul {
          display: block;
        }

      }

      ul {
        padding: 1vw 2vw;
        display: none;

        li {
          border-bottom: 1px solid $border-color;

          a {
            font-size: 1.2vh;
            color: $primary;
            padding: 0.9vw 1.5vw 0.9vw 2.5vw;
             opacity: 0.5;
            @extend %flex-area;
            justify-content: space-between;
            position: relative;
            min-height: 3vw;




            &:before {
              content:"\EB7C";
              font-family: remixicon !important;
              position: absolute;
              font-size: 0.6vh;
              right: 0;
              top: 1.3vw;
            }


            &:hover {
              opacity: 1;
            }


          }

          &.active {

            a {
              opacity: 1;
              font-weight: 700;

              &:after {
                font-family: 'remixicon';
                content: "\eb7b";
                color: $secondary;
                font-size: 20px;
                opacity: 1;
                margin-right: 5px;
                position: absolute;
                left: 0;
                top: 10px;
              }

            }

          }
        }
      }

    }


  }

}
