.slick-carousel {
  position: relative;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  align-items: center;

  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: flex;
  }

  .slick-track.slick-center {
    margin-left: auto;
    margin-right: auto
  }

  .slick-slide.dragging img {
    pointer-events: none
  }

  .slick-initialized .slick-slide {
    display: block
  }

  .slick-loading .slick-slide {
    visibility: hidden
  }


  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }



  .slick-slide {
    img {
      width: 100%;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

  }

  .slick-arrow {
    @extend %flex-area;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
    top: 0;
    width: 90px;
    z-index: 10;
    color: $secondary;
    cursor: pointer;
    padding: 20px;
    transform: translateY(-10px);


  .home-slider-arrow{
    height: 35px;
    width: 35px;
    display: flex;
    background: $success;
    flex-shrink: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FFF;

  }

    &.slick-disabled {
      cursor: auto;
      filter: grayscale(1);
      animation: normal;
      opacity: 0.2;
      &:before {
        animation: normal;
      }
    }



  }

  .slick-prev {
    left: 0;

    .home-slider-arrow {
      animation: arrowMovingLeft 5s infinite ease-in-out;
    }

    &:hover {
      animation: normal;
    }


  }

  .slick-next {
    right: 0;

   .home-slider-arrow {
      animation: arrowMovingRight 5s infinite ease-in-out;
    }

    &:hover {
      animation: normal;
    }

  }


  .slick-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 5;

    li {
      display: inline-flex;
      padding: 3px;
      opacity: 0.5;

      .slider-dot {
        width: 6px;
        height: 6px;
        display: block;
        background: #fff;
        cursor: pointer;
      }

      &.slick-active {
        opacity: 1;
      }

    }
  }



}

