@font-face {
    font-family: 'TheSansArab';
    src: url('TheSansArab-Bold.woff2') format('woff2'),
        url('TheSansArab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSansArab';
    src: url('TheSansArab-Light.woff2') format('woff2'),
        url('TheSansArab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSansArab';
    src: url('TheSansArab-Black.woff2') format('woff2'),
        url('TheSansArab-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSansArab Plain';
    src: url('TheSansArab-Plain.woff2') format('woff2'),
        url('TheSansArab-Plain.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

