@mixin bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 0.5%);
   }
}

.bg-light{
  background: $light-bg;
}
.bg-primary {
  @include bg($primary);
}

.bg-secondary {
  @include bg($secondary);
}

.bg-warning {
  @include bg($warning);
}

.bg-success {
  @include bg($success);
}

.bg-info {
  @include bg($info);
}

.bg-danger {
  @include bg($danger);
}

.bg-gray {
  @include bg($gray);
}

.bg-dark-gray {
  @include bg($dark-gray);
}


// borders
.bd {border: 1px solid $border-color}
.bd-r {border-right: 1px solid $border-color}
.bd-b {border-bottom: 1px solid $border-color}
.bd-l {border-left: 1px solid $border-color}
.bd-t {border-top: 1px solid $border-color}
.bd-1 {border-width: 1px}
.bd-2 {border-width: 2px}
.bd-3 {border-width: 3px}


// shadows

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, .02);
}
