h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: $heading-color;
  font-family: $font-family-heading;
}


.tx-rtl {
  direction: rtl;
  text-align: start;

}
.tx-ltr {
  direction: ltr;
  text-align: start;
}

.tx-start {
  text-align: start;
}

.tx-end {
  text-align: end;
}

.tx-center {
  text-align: center;
}

.tx-right {
  text-align: right;
}

.tx-left {
  text-align: left;
}

.tx-nowrap {
  white-space: nowrap;
}

.tx-break {
  word-break: break-all;
}

.tx-pointer {
  cursor: pointer
}

.tx-bolder {
  font-weight: 700;
}

.tx-bold {
  font-weight: 600;
}


.tx-medium {
  font-weight: 500;
}

.tx-normal {
  font-weight: 400;
}

.tx-underline {
  text-decoration: underline;
}

.tx-thin {
  font-weight: 100;
}

.tx-sm {
  font-size: 12px;
}

.tx-xl {
  font-size: 22px;
}

.tx-lg {
  font-size: 16px;
}

.tx-number {
  direction: ltr;

}



.heading-start {

  @include for-size("phone-only") {
    width: 100%;
  }

}

// typography colors

.tx-default {
  color: $font-color-base;
}

.tx-primary {
  color: $primary;
}

.tx-info {
  color: $info;
}

.tx-secondary {
  color: $secondary;
}

.tx-warning {
  color: $warning;
}

.tx-danger {
  color: $danger;
}

.tx-success {
  color: $success;
}

.tx-teal {
  color: $teal;
}

.tx-pink {
  color: $pink;
}

.tx-yellow {
  color: $yellow;
}


@mixin make-opacity($num) {
  .tx-#{$num} {
    font-size: #{$num}px;
  }

}

$num: 10;
@while $num <= 80 {
  @include make-opacity($num);
  $num: $num + 2;
}
