 .contact {

   .contact-card {
     margin-top: -140px;
     position: relative;
     z-index: 20;
   }

   .contact-widgets {
    padding: 0 15px;
     @include for-size('small-devices') {
      flex-wrap: wrap;
     }

    }
   .numbers-box {
     text-align: center;
     flex: 1;

     @include for-size('small-devices') {
       min-width: 100%;
     }

     h5 {
       margin-bottom: 0;
     }
     p{
       color: darken($primary, 5);
     }

   }
 }

 .contact-fields {
   .form-group {
     margin-bottom: 20px;
   }
   .col {
     flex: 1 0 33.33%;
     max-width: 33.33%;

     @include for-size('small-devices'){
       flex: 1 0 100%;
       max-width: 100%;
     }


   }
   .col-full {
     flex: 1 0 100%;
     max-width: 100%;

   }
 }
