.explore-page {
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary;

  .explore-heading {
    position: relative;
    --blue-color: #9AC4C3;
    --green-color: #FFF;

    .svg-ico {
      height: 200px;
      width: 200px;
      opacity: 0.2;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(50%);
      z-index: -1;
      transition: 0.4s all ease-in-out;
    }

  }

  h1 {
    color: #fff;
  }

  &:after {
    @extend %vertical-gradient;
    width: 100%;
    content: "";
    right: 0;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
  }

  .explore-data {
    padding: 50px 160px;
    color: #fff;

    @include for-size('small-devices') {
      padding: 0 ;
    }


  }


  .data-icons {

    .data-icon-box {
      padding: 20px 0;

      min-width: 33.33%;

      @include for-size('small-devices') {
        width: 50%;
      }

      @include for-size('phone-only') {
        width: 100%;
      }

    }

  }


}
