.landing-page {
  position: relative;

  @include for-size('small-height') {
    font-size: 80%;
   }

  &:after {
    @extend %vertical-gradient;
    width: 100%;
    content: "";
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
  }

  .landing-data {
    position: relative;
    z-index: 10;
    color: #fff;
    padding-bottom: 60px;
    padding-top: 60px;
    align-items: center;

    @include for-size('small-height') {
      align-items: start;

    }

    @include for-size('small-devices') {
      flex-wrap: wrap;
      height: auto !important;
      padding-bottom: 200px;
    }

    .data-icons {
      min-width: 50%;
      padding-top: 30px;
      padding-right: 20px;
      padding-left: 20px;
      @include for-size('small-height') {
        padding-top: 15px;
      }

      .data-icon-box {
        flex: 1 0 50%;
        max-width: 50%;

      }

    }

    .ksa-map {
      min-width: 50%;


      #homeMap{

        @include for-size('small-height') {
          max-height: 300px;
          transform: translateY(-45px);
        }

      }


      @include for-size('small-devices') {
        width: 100%;
      }

    }
  }

  .VideoBg {

    @include for-size('small-devices') {
      overflow-y: scroll !important;
    }


  }

}

.landing-heading {
  background: rgba(255, 255, 255, 0.08);
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;

  h1 {
    line-height: normal;
    padding: 20px 0;
    color: $light-bg;
    font-size: 240%;
    @include for-size('small-height') {
      padding: 10px 0;

      font-size: 160%;
    }

  }
}

.landing-slick {
  &:after {
    content: "";
    display: block;
    width: 100%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    margin: 24px 0;
    top: 0;
    bottom: 0;
    height: 140px;
    z-index: 5;
  }

  .slick-list {
    z-index: 10;
  }
}

.home-video{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
}

.landing-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  height: 180px;

  @include for-size('small-devices') {
   }


  &:after {
    height: 120px;
    background: $primary;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
  }


  .home-nav-item {
    @extend %flex-area;
    justify-content: center;
    position: relative;
    display: flex;
    padding: 20px 10px;
    text-align: center;
    flex-direction: column;
    margin: 25px 0;

    span {
      position: relative;
      z-index: 10;
    }

    svg {
      display: block;
      margin: 10px auto 10px;
      position: relative;
      z-index: 10;
    }

    .explore-btn {
      opacity: 0;
      transform: scale(0);
      transition: 0.2s all ease-in-out;
    }


    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: $info;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 6px;
      opacity: 0;
      transition: 0.2s all ease-in-out;
    }

    &:hover {
      --blue-color: rgba(255,255,255,0.6);
      --green-color: #FFF;


      span {
        color: #fff;

      }


      &:after {
        transform: scaleY(1.15);
        opacity: 1;
      }

      .explore-btn {
        opacity: 1;
        transform: scale(1);
      }
    }


  }

}
