.news-details {
  background: #FFF;
}

.news-heading-content {
  max-width: 1000px;
}

.news-category{
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px 20px;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
}

.featured-news {
  flex: 1 0 33.33%;
  max-width: 33.33%;
  @extend %flex-area;
  align-items: stretch;

  &.active {
    display: none;
  }

  @include for-size('small-devices'){
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .featured-meta {
    padding: 0 15px;
    @extend %flex-area;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    h3 {
      max-height: 50px;
      overflow: hidden;
    }

  }

}

.featured-img {
  height: 125px;
  width: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $gray;
  flex-shrink: 0;
  display: block;
  position: relative;

  .overlay {
    @extend %flex-area;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.4s all ease-in-out;
  }

  &:hover{
    .overlay {
      opacity: 1;
     }
  }



}


.list-actions {
  .dropdown {
    width: 240px;
    background: #FFF;
    margin-left: 20px;

    .dropdown-btn {
      color: $primary;
    }
  }

  .toggle-switch {
    height: 50px;
    background: #FFF;
    border-color: #FFF;

    a {
      height: auto;
    }
  }
}

.news-list {
  margin: 0 -8px;

  @include for-size('small-devices'){
    margin:0;
  }

  .news-box {
    flex: 1 0 calc(33.33% - 16px);
    max-width: calc(33.33% - 16px);
    margin: 0 8px 16px 8px;

    @include for-size('small-devices'){
      flex: 1 0 100%;
      max-width: 100%;
      margin:0 0 15px;
    }

  }

  .news-box-data {
    .featured-img {
      height: 280px;
      width: 100%;
      margin-bottom: 20px;
    }
  }

}



.cms {
  .cms-content{
    flex: 1 0 calc(70% - 25px);
    margin-left: 25px;

    @include for-size('small-devices'){
      flex: 1 0 100%;
      max-width: 100%;
      margin:0 0 15px;
    }


    img {
      width: 100%;
      margin-bottom: 30px;
    }

    p{
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 26px;
    }

  }

  .cms-sidebar {
    flex: 1 0 30%;
    flex-shrink: 0;
    background: $gray;

    @include for-size('small-devices'){
      flex: 1 0 100%;
      max-width: 100%;
      margin:0 0 15px;
    }


    .cms-sidebar-content {
      padding: 20px;
    }

    .featured-news {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid darken($border-color, 5);

      &:last-child {
        border-bottom: none;
      }
    }

    .featured-news {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
}

.content-section{
  .container {
    max-width: 1300px;

  }
}
.video-player{
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  border-radius: 5px;
  overflow: hidden;
  video {
    width: 100%;
    border-radius: 5px;

  }
}


.vision-section {
  .vision-section-box {
    background: $primary;
    &:first-child{
      background: lighten($primary, 5) ;

    }
  }
}


.our-values{
  margin: 0 -8px;
  flex-wrap: wrap;
  .data-box {
    margin: 0 8px;
    flex: 1 0 calc(20% - 16px);
    max-width: calc(20% - 16px);

    @include for-size('small-devices') {
      flex: 1 0 calc(50% - 16px);
      max-width: calc(50% - 16px);
      margin-bottom: 15px;
    }

    @include for-size('phone-only') {
      flex: 1 0 calc(100%);
      max-width: calc(100%);
      margin: 0 0 15px 0;
    }


  }
}


.our-targets {
    .divider{
      width: 50px;
      height: 3px;
      background: $secondary;
    }
}
