.explore-page {
  position: relative;
  height: 100%;


  .region-map-bg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -20%);
    z-index: -1;
  }

  .side-nav {
    ul {
      li{
        li {


        a{
          &:after {
            display: none;
          }

        }

          &.active {
            a{
              font-weight: normal;
              opacity: 0.5;

            }
          }
        }

      }
    }
  }




  .sector-bg {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
  }

  .explore-heading {
    position: relative;

    margin: 50px 0;

    --blue-color: rgba(255,255,255,0.6);
    --green-color: #FFF;

    .svg-ico {
      opacity: 0.25;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      transform: scale(3) translateX(20%) translateY(20%);
    }

  }

  h1 {
    color: #fff;
    animation-name: fadeIn;
  }

  &:after {
    @extend %vertical-gradient;
    width: 100%;
    content: "";
    right: 0;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
  }

  .explore-data {
    padding: 20px 100px 0 0;
    color: #fff;

    @include for-size('small-devices') {
      padding: 0;
    }


  }


  .data-icons {

    .data-icon-box {
      padding: 20px 0;
      max-width: 33.33%;
      flex: 1 0 33.33%;

      @include for-size('small-devices') {
        max-width: 50%;
        flex: 1 0 50%;
      }

      @include for-size('phone-only') {
        max-width: 100%;
        flex: 1 0 100%;

      }

    }

  }


}


.explore-nav{
  position: relative;
  z-index: 20;
  .moving-arrow {

    &.next {
      animation: arrowMovingRight 5s infinite ease-in-out;

    }

    &.prev {
      animation: arrowMovingLeft 5s infinite ease-in-out;
    }

    &:hover {
      animation: normal;
    }

  }
}


