@font-face {
  font-family: 'momra';
  src:  url('fonts/momra.eot?ccgn8x');
  src:  url('fonts/momra.eot?ccgn8x#iefix') format('embedded-opentype'),
    url('fonts/momra.ttf?ccgn8x') format('truetype'),
    url('fonts/momra.woff?ccgn8x') format('woff'),
    url('fonts/momra.svg?ccgn8x#momra') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'momra' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accommodation_and_housing .path1:before {
  content: "\e900";
  color: var(--green-color);
}
.icon-accommodation_and_housing .path2:before {
  content: "\e901";
  margin-left: -1.02734375em;
  color: var(--blue-color);
}

.icon-crisis_management .path1:before {
  content: "\e902";
  color: var(--green-color);
}
.icon-crisis_management .path2:before {
  content: "\e903";
  margin-left: -0.994140625em;
  color: var(--blue-color);
}

.icon-economic_growth .path1:before {
  content: "\e904";
  color: var(--blue-color);
}
.icon-economic_growth .path2:before {
  content: "\e905";
  margin-left: -1.1943359375em;
  color: var(--green-color);
}

.icon-education .path1:before {
  content: "\e906";
  color: var(--blue-color);
}
.icon-education .path2:before {
  content: "\e907";
  margin-left: -1.201171875em;
  color: var(--green-color);
}

.icon-energy .path1:before {
  content: "\e908";
  color: var(--blue-color);
}
.icon-energy .path2:before {
  content: "\e909";
  margin-left: -0.88671875em;
  color: var(--green-color);
}

.icon-governance_and_legislation .path1:before {
  content: "\e90a";
  color: var(--blue-color);
}
.icon-governance_and_legislation .path2:before {
  content: "\e90b";
  margin-left: -1.123046875em;
  color: var(--green-color);
}

.icon-health .path1:before {
  content: "\e90c";
  color: var(--green-color);
}
.icon-health .path2:before {
  content: "\e90d";
  margin-left: -1.068359375em;
  color: var(--blue-color);
}

.icon-infrastructure .path1:before {
  content: "\e90e";
  color: var(--green-color);
}
.icon-infrastructure .path2:before {
  content: "\e90f";
  margin-left: -1.150390625em;
  color: var(--blue-color);
}

.icon-islamic_affairs_jajj_and_umrah .path1:before {
  content: "\e910";
  color: var(--green-color);
}
.icon-islamic_affairs_jajj_and_umrah .path2:before {
  content: "\e911";
  margin-left: -1.1337890625em;
  color: var(--blue-color);
}

.icon-labor_and_social_security .path1:before {
  content: "\e912";
  color: var(--blue-color);
}
.icon-labor_and_social_security .path2:before {
  content: "\e913";
  margin-left: -0.9775390625em;
  color: var(--green-color);
}

.icon-media_and_culture .path1:before {
  content: "\e914";
  color: var(--blue-color);
}
.icon-media_and_culture .path2:before {
  content: "\e915";
  margin-left: -0.9111328125em;
  color: var(--green-color);
}

.icon-municipal_funding .path1:before {
  content: "\e916";
  color: var(--blue-color);
}
.icon-municipal_funding .path2:before {
  content: "\e917";
  margin-left: -0.9775390625em;
  color: var(--green-color);
}

.icon-population_and_demographics .path1:before {
  content: "\e918";
  color: var(--blue-color);
}
.icon-population_and_demographics .path2:before {
  content: "\e919";
  margin-left: -1.0849609375em;
  color: var(--green-color);
}

.icon-safety_and_security .path1:before {
  content: "\e91a";
  color: var(--green-color);
}
.icon-safety_and_security .path2:before {
  content: "\e91b";
  margin-left: -1.08203125em;
  color: var(--blue-color);
}

.icon-tourism_leisure_and_sports .path1:before {
  content: "\e91c";
  color: var(--green-color);
}
.icon-tourism_leisure_and_sports .path2:before {
  content: "\e91d";
  margin-left: -1.037109375em;
  color: var(--blue-color);
}

.icon-urban_fabric .path1:before {
  content: "\e91e";
  color: var(--blue-color);
}
.icon-urban_fabric .path2:before {
  content: "\e91f";
  margin-left: -0.935546875em;
  color: var(--green-color);
}

.icon-water_and_the_environment .path1:before {
  content: "\e920";
  color: var(--green-color);
}
.icon-water_and_the_environment .path2:before {
  content: "\e921";
  margin-left: -0.9990234375em;
  color: var(--blue-color);
}
