.charts {
  direction: ltr;
  font-size: 11px;
}
.related-indicator {
  .charts {
    height: 300px;
  }
}


.legend-bar {
  height: 10px;
  margin: 5px 0;
  @extend %vertical-gradient

}

.xy-chart {
  .charts {
    height: 400px;
  }
}

.ksa-map {
   .charts {
    height: 500px;
  }
}
