// forms

::placeholder {
  color: $primary;
  opacity: 0.6;
}

.form-group {
  position: relative;

  label {
    font-size: 14px;
    font-weight: 700;
    padding: 6px 15px;
    white-space: nowrap;
    color: $primary;
  }

  &.floating-label {
    label {
      position: absolute;
      left: 20px;
      top: -10px;
      background: #fff;
      padding: 0 10px;
      font-size: 12px;
      z-index: 1;
    }
  }
}


.form-control {
  @extend %form-control;
  height: $normal-form-size;

  &:disabled {
    background: #FAFAFA;
  }

  &.sm {
    height: $small-form-size;
  }

  &.lg {
    height: $large-form-size;
  }

  &.xl {
    height: $extra-large-form-size;
  }


  &:hover {
    border-color: $info;
  }

  &:focus {
    outline: none;
    border-color: $info;
    border-width: 2px;
  }

}

.form-select {
  @extend %form-control;
  -moz-padding-start: calc(0.75rem - 3px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  @include rtl(background-position, right .75rem center, left .75rem center);


  background-size: 13px 13px;
  height: $normal-form-size;
  cursor: pointer;

  &.sm {
    height: $small-form-size;
  }

  &.lg {
    height: $large-form-size;
  }

  &:hover {
    border-color: $info;
  }

  &:focus {
    outline: none;
    border-color: $info;
    border-width: 2px;
  }


}

.form-textarea {
  @extend %form-control;
  height: $normal-textarea-size;

  &.sm {
    height: $small-textarea-size;
  }

  &.lg {
    height: $large-textarea-size;
  }

  &:hover {
    border-color: $info;
  }

  &:focus {
    outline: none;
    border-color: $info;
    border-width: 2px;
  }


}


.pre-input {
  position: relative;

  .pre-icon {
    position: absolute;
    left: 0;
    height: 100%;
    width: 60px;
    font-size: 20px;
    opacity: 0.6;
    @extend %flex-area;
    justify-content: center;
  }

  input {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.progress {
  background: $dark-gray;
  border-radius: 50px;
  height: 7px;
  position: relative;

  .progress-bar {
    height: 100%;
    border-radius: 50px;
    background: $info;
    transition: 0.4s all ease-in-out;
  }
}

.editable-comment {
  border: 1px solid $border-color;
  border-radius: 6px;
  textarea{
    border: none;
    height: 80px;
   }
}


.input-number {
  position: relative;
    .number-icon {
      position: absolute;
      right: 5px;
      display: flex;
      flex-direction: column;
      top: 5px;

      a {
        font-size: 22px;
        display: block;
        height: 15px;
        padding: 0;
        margin-bottom: 2px;

        &:hover {
          color: $info;
        }

        &.disabled {
          opacity: 0.9;
          pointer-events: none;
          cursor: not-allowed;
        }

       }
    }
}



.custom-range {

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
}
::-webkit-slider-runnable-track {
  background: $dark-gray;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #FFF;
  box-shadow: -100vw 0 0 100vw $secondary;
  border: 2px solid #999;

}
::-moz-range-track {
  height: 20px;
  background: $dark-gray;
}
::-moz-range-thumb {
  background: #fff;
  height: 20px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw $secondary;
  box-sizing: border-box;
}
::-ms-fill-lower {
  background: $secondary;
}
::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}
::-ms-ticks-after {
  display: none;
}
::-ms-ticks-before {
  display: none;
}
::-ms-track {
  background: $dark-gray;
  color: transparent;
  height: 40px;
  border: none;
}
::-ms-tooltip {
  display: none;
}
}
