:root {
  --blue-color: #68BFCA;
  --green-color: #60CB5F;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size-adjust: 100%;
  font-weight: 400;
  direction: rtl;
  height: 100%;
  background: $primary;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-size: $font-size-base;
  background: $body-bg;
  color: $font-color-base;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $font-family-base;
  padding-top: 136px;
  @include for-size('small-height') {
    padding-top: 116px;

  }
}

#app {
  height: 100%;
}

.router-content {
  height: 100%;
}

.pages-heading {
  @include for-size('small-devices') {
    flex-wrap: wrap;
  }
}

.pages {
  @include for-size('small-devices') {
    flex-wrap: wrap;
  }
}

.pages-content {
  flex-grow: 1;
  position: relative;
  z-index: 5;
  @include rtl(padding-left, 25px, 0);
  @include rtl(padding-right, 0, 25px);

  @include for-size('small-devices') {
    @include rtl(padding-left, 0, 0);
    @include rtl(padding-right, 0, 0);
  }

}


.data-icons {

  @include for-size('small-height') {
    padding-top: 15px;
  }

  .data-icon-box {
    padding: 20px 10px;

    @include for-size('small-height') {
      padding: 10px;
    }

    p:nth-child(1) {
      font-size: 130%;
      @include for-size('small-height') {
        font-size: 110%;
      }

    }

    p:nth-child(2) {
      font-size: 250%;
      @include for-size('small-height') {
        font-size: 200%;
      }

    }

    img {
      max-width: 40px;
      @include for-size('small-height') {
        max-width: 30px;
      }
    }

    @include for-size('small-devices') {
      width: 100%;
    }

  }

}

.side-bar {
  &.fixed-sidebar {
    position: fixed;
    top: 160px;
    right: auto;
    bottom: 0;
    z-index: 10;

    @include for-size('small-devices'){
      position: static;
    }

    @include for-size('small-height') {
      top: 140px;
    }
    .side-nav {
      height: 100%;
    }
    .scroll-area {
      height: 100px;
      min-height: calc(100% - 120px);

      @include for-size('small-devices'){
        height: 400px;
        min-height: 400px;
      }

    }

  }

}

.pages-data {
  padding-right: 360px;
  @include for-size('small-devices'){
    padding: 0;
  }
}