:root {
  --blue-color: #68BFCA;
  --green-color: #60CB5F;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size-adjust: 100%;
  font-weight: 400;
  direction: rtl;
  height: 100%;
  background: $primary;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-size: $font-size-base;
  background: $body-bg;
  color: $font-color-base;
   scroll-behavior: smooth;
  font-family: $font-family-base;

}

#app {
  height: 100%;
}

.router-content {
  height: 100%;
}

.pages-heading {
  @include for-size('small-devices') {
    flex-wrap: wrap;
  }
}

.pages {
  @include for-size('small-devices') {
    flex-wrap: wrap;
  }
}

.pages-content {
  flex-grow: 1;
  position: relative;
  z-index: 5;
  @include rtl(padding-left, 25px, 0);
  @include rtl(padding-right, 0, 25px);

  @include for-size('small-devices') {
    @include rtl(padding-left, 0, 0);
    @include rtl(padding-right, 0, 0);
  }

}


.data-icons {

  @include for-size('small-height') {
    padding-top: 15px;
  }

  .data-icon-box {
    padding: 20px 10px;

    @include for-size('small-height') {
      padding: 10px;
    }

    p:nth-child(1) {
      font-size: 14px;

      @include for-size('small-height') {
        font-size: 12px;
      }

    }

    p:nth-child(2) {
      font-size: 30px;
      @include for-size('small-height') {
        font-size: 20px;
      }

    }

    img {
      max-width: 40px;
      @include for-size('small-height') {
        max-width: 30px;
      }
    }

    @include for-size('small-devices') {
      width: 100%;
    }

  }

}

.pages {
  align-items: start;
  height: 100%;
}

.side-bar {
  overflow: hidden;
   &.fixed-sidebar {
    position: sticky;
    right: auto;
    bottom: 0;
    z-index: 10;
    top: 130px;

     @include for-size('small-height'){
       top: 110px;
     }

    @include for-size('small-devices'){
      position: static;
      height: auto!important;
    }


    .side-nav {
      height: 100%;
    }
    .scroll-area {
      height: 100px;
      min-height: calc(100% - 120px);

      @include for-size('small-devices'){
        height: 200px;
        min-height: 200px;
      }

    }

  }

}



