// background
$body-bg : #F5F5F5;
$light-bg: #FFF;

// primary colors
$primary: #046F6C;
$danger: #EA6D6D;
$warning: #EBC35B;
$secondary: #60CB5F;
$success: #9ACA67;
$teal: #36AABA;
$info: #68BFCA;
$pink:#C7A4ED;
$yellow:#FFDC40;

$heading-color : $primary;

// extra colors
$gray:#F5F5F5 ;
$dark-gray:#E8E8E8 ;
$border-color : #E6EAF2;

// typography
$font-size-base: 0.85vw;
$font-color-base: #8F96A2;
$font-family-base: 'TheSansArab Plain', sans-serif;
$font-family-heading: 'TheSansArab', sans-serif;


// forms size
$small-form-size : 2.5px;
$normal-form-size : 3px;
$large-form-size : 3.4vw;
$extra-large-form-size: 4.5vw;

$small-textarea-size : 5vw;
$normal-textarea-size : 7vw;
$large-textarea-size : 7vw;


