// background
$body-bg : #F5F5F5;
$light-bg: #FFF;

// primary colors
$primary: #046F6C;
$danger: #EA6D6D;
$warning: #EBC35B;
$secondary: #60CB5F;
$success: #92D67D;
$teal: #36AABA;
$info: #68BFCA;
$pink:#C7A4ED;
$yellow:#FFDC40;

$heading-color : $primary;

// extra colors
$gray:#F5F5F5 ;
$dark-gray:#E8E8E8 ;
$border-color : #E6EAF2;

// typography
$font-size-base: 14px;
$font-color-base: #8F96A2;
$font-family-base: 'TheSansArab Plain', sans-serif;
$font-family-heading: 'TheSansArab', sans-serif;


// forms size
$small-form-size : 30px;
$normal-form-size : 40px;
$large-form-size : 50px;
$extra-large-form-size: 60px;

$small-textarea-size : 50px;
$normal-textarea-size : 100px;
$large-textarea-size : 150px;


